[class*="inspector-container"] {
	position: relative;
}

.inspector-visible {
	outline: 1px dashed;
	> .inspector {
		opacity: 0.8;
	}
}

.inspector {
	position: absolute;
	top: 0;
	padding: 4px 6px;
	border: 1px solid #666;
	background-color: #333;
	color: #fff;
	font: 12px "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	opacity: 0;
	text-align: center;
	text-decoration: none;
	transition: opacity 0.3s ease-out;
	&.trac-url-disabled {
		cursor: default;
	}
	&-id {
		color: #3cf;
	}
}